@theme "theme"
configuration {
	modes: [ drun ];
}

window {
  transparency: "real";
}

entry {
  placeholder: "󰍉 Search";
}

element {
  children: [ element-icon, element-text ];
}

element-icon {
  padding: 0 0 0 4;
}

inputbar {
  children: [ entry ];
}

listview {
  lines: 4;
}
